{% if inventory_hostname == "k8s-master-0" %}
KUBELET_EXTRA_ARGS="--node-ip=172.20.20.10"
{% elif inventory_hostname == "k8s-master-1" %}
KUBELET_EXTRA_ARGS="--node-ip=172.20.20.11"
{% elif inventory_hostname == "k8s-master-2" %}
KUBELET_EXTRA_ARGS="--node-ip=172.20.20.12"
{% elif inventory_hostname == "k8s-worker-0" %}
KUBELET_EXTRA_ARGS="--node-ip=172.20.20.13"
{% elif inventory_hostname == "k8s-worker-1" %}
KUBELET_EXTRA_ARGS="--node-ip=172.20.20.14"
{% else %}
KUBELET_EXTRA_ARGS="--node-ip=UNKNOWN"
{% endif %}
